* {    
  margin: 0;
  padding: 0;
  text-align: center;
}

body {  
  background:#e8e8e8;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background:#e8e8e8;
}
#loader {
    position: absolute;
    box-sizing: border-box;
    z-index: 1001;
    left: 50%;
    top: 50%;
    margin-top: -55px;
    margin-left: -250px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background: #d0d0d0;
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-animation: turnMove 3500ms cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
       -moz-animation: turnMove 3500ms cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
         -o-animation: turnMove 3500ms cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
            animation: turnMove 3500ms cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;
    -webkit-animation-play-state: play;
       -moz-animation-play-state: play;
         -o-animation-play-state: play;
            animation-play-state: play;
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
  }

  @keyframes turnMove {
    0% {
      -webkit-transform: translate(0, 0) rotate(0turn);
         -moz-transform: translate(0, 0) rotate(0turn);
           -o-transform: translate(0, 0) rotate(0turn);
              transform: translate(0, 0) rotate(0turn);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    25% {
      -webkit-transform: translate(0, 0) rotate(0.25turn);
         -moz-transform: translate(0, 0) rotate(0.25turn);
           -o-transform: translate(0, 0) rotate(0.25turn);
              transform: translate(0, 0) rotate(0.25turn);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      -webkit-animation-timing-function: step-end;
         -moz-animation-timing-function: step-end;
           -o-animation-timing-function: step-end;
              animation-timing-function: step-end;
      background: #b9b9b9;
    }
    25.01% {
      -webkit-transform: translate(100px, 100px) rotate(0.25turn);
         -moz-transform: translate(100px, 100px) rotate(0.25turn);
           -o-transform: translate(100px, 100px) rotate(0.25turn);
              transform: translate(100px, 100px) rotate(0.25turn);
      -webkit-transform-origin: 100% 0;
         -moz-transform-origin: 100% 0;
           -o-transform-origin: 100% 0;
              transform-origin: 100% 0;
      background: #b9b9b9;
    }
    50% {
      -webkit-transform: translate(100px, 100px) rotate(0.5turn);
         -moz-transform: translate(100px, 100px) rotate(0.5turn);
           -o-transform: translate(100px, 100px) rotate(0.5turn);
              transform: translate(100px, 100px) rotate(0.5turn);
      -webkit-transform-origin: 100% 0;
         -moz-transform-origin: 100% 0;
           -o-transform-origin: 100% 0;
              transform-origin: 100% 0;
      -webkit-animation-timing-function: step-end;
         -moz-animation-timing-function: step-end;
           -o-animation-timing-function: step-end;
              animation-timing-function: step-end;
      background: #a2a2a2;
    }
    50.01% {
      -webkit-transform: translate(300px, 100px) rotate(0.5turn);
         -moz-transform: translate(300px, 100px) rotate(0.5turn);
           -o-transform: translate(300px, 100px) rotate(0.5turn);
              transform: translate(300px, 100px) rotate(0.5turn);
      -webkit-transform-origin: 0 0;
         -moz-transform-origin: 0 0;
           -o-transform-origin: 0 0;
              transform-origin: 0 0;
      background: #a2a2a2;
    }
    75% {
      -webkit-transform: translate(300px, 100px) rotate(0.75turn);
         -moz-transform: translate(300px, 100px) rotate(0.75turn);
           -o-transform: translate(300px, 100px) rotate(0.75turn);
              transform: translate(300px, 100px) rotate(0.75turn);
      -webkit-transform-origin: 0 0;
         -moz-transform-origin: 0 0;
           -o-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-animation-timing-function: step-end;
         -moz-animation-timing-function: step-end;
           -o-animation-timing-function: step-end;
              animation-timing-function: step-end;
      background: #8b8b8b;
    }
    75.01% {
      -webkit-transform: translate(400px, 0) rotate(0.75turn);
         -moz-transform: translate(400px, 0) rotate(0.75turn);
           -o-transform: translate(400px, 0) rotate(0.75turn);
              transform: translate(400px, 0) rotate(0.75turn);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
      background: #8b8b8b;
    }
    100% {
      -webkit-transform: translate(400px, 0) rotate(1turn);
         -moz-transform: translate(400px, 0) rotate(1turn);
           -o-transform: translate(400px, 0) rotate(1turn);
              transform: translate(400px, 0) rotate(1turn);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
      background: #747474;
    }
  }

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
  
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

.loaded #body{
  visibility: visible;
  -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}

h1 {
  padding: 300px 0px 30px 0px;
  text-align: center;
  font-family: Raleway;
  font-weight: 100;
  font-size: 35px;
}

nav {
  overflow: hidden;
  text-align: center;
}

ul {  
  border-radius:2px;
  font-size: 0px;
}

li {  
  list-style:none;
  display: inline-block;
}

li a { 
  padding:25px 25px 25px 25px;
  display: block;
  letter-spacing:1px;
  font-family: Raleway;
  font-weight: 300;
  font-size:30px;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: .33s;
  transition: .33s;
  pointer-events: none;
}
       
ul li:first-child a {  background:#d0d0d0 !important;}
ul li:nth-child(2) a {  background:#b9b9b9 !important;}
ul li:nth-child(3) a {  background:#a2a2a2 !important;}
ul li:nth-child(4) a {  background:#8b8b8b !important;}
ul li:nth-child(5) a {  background:#747474 !important;}

ul li:first-child:hover ~ .bg {
  background: #d0d0d0;  
}
ul li:nth-child(2):hover ~ .bg {
  background: #b9b9b9;
}
ul li:nth-child(3):hover ~ .bg {
  background: #a2a2a2;
}
ul li:nth-child(4):hover ~ .bg {
  background: #8b8b8b;
}
ul li:nth-child(5):hover ~ .bg {
  background: #747474;
}
