body {
  height: 100vh;
  width: 100vw;
}
#body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(ellipse farthest-corner at 45px 45px, #e8e8e8 0%, #e8e8e8 80%, #e8e8e8 500%);
  background: radial-gradient(ellipse farthest-corner at 45px 45px, #e8e8e8 0%, #e8e8e8 80%, #e8e8e8 500%);
}

#circ:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #e8e8e8;
  color: #000;
  font-size: 50px;
  font-weight: 100;
  font-family: Raleway;
  background: #e8e8e8;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
}

#circ:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #d0d0d0;
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  font-family: Raleway;
  background: #d0d0d0;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
  box-shadow: 0 0 200px #d0d0d0, 0 0 300px #d0d0d0;
}

#circ:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #b9b9b9;
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  font-family: Raleway;
  background: #b9b9b9;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
  box-shadow: 0 0 200px #b9b9b9, 0 0 300px #b9b9b9;
}

#circ:nth-of-type(4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #a2a2a2;
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  font-family: Raleway;
  background: #a2a2a2;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
  box-shadow: 0 0 200px #a2a2a2, 0 0 300px #a2a2a2;
}

#circ:nth-of-type(5) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #8b8b8b;
  color: #8b8b8b;
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  font-family: Raleway;
  background: #8b8b8b;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
  box-shadow: 0 0 200px #8b8b8b, 0 0 300px #8b8b8b;
}

#circ:nth-of-type(6) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #747474;
  color: #747474;
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  font-family: Raleway;
  background: #747474;
  width: 10vw;
  height: 10vh;
  border-radius: 0%;
  box-shadow: 0 0 200px #747474, 0 0 300px #747474;
}
