/**
* Generic Styles
*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
  counter-reset: section;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  background: #fff;
  color: #fff;
  font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

/*
*ME Styles
*/
.container-a {
	display: block;
	margin: 2rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	font-size: 1rem;
	text-decoration: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: 500ms ease-in-out;
        cursor: default;
}
.card-image {
	display: block;
	min-height: 20rem;
	background: #fff center center no-repeat;
	background-size: cover;
}
.card-description {
	padding: 1em 0.5em;
	color: #000;
	text-decoration: none;
}
.card-description > h1 {
    font-weight: 300;
    font-size: 1.66em;
    margin: 0 0 0.5em;
}
.card-description > p {
    font-weight: 300;
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.25;
}

.blue-link{
  text-decoration:none;
  color: #000;
  transition: 500ms ease-in-out;
}
.blue-link:hover{
  color: #00b4b4;
}

.green-link{
  text-decoration:none;
  color: #000;
  transition: 500ms ease-in-out;
}
.green-link:hover{
  color: #00b45a;
}

/*
* CV_Styles
*/
.container-b {
    line-height: 1;
    margin: 2rem auto;
    padding: 2em;
    max-width: 980px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Raleway', sans-serif;
}

.content-container {
	margin-bottom: 25px;
}

.title-name {
    color: #00b4b4;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0;
}

.contact-info {
    color: #808284;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.links {
    text-decoration: none;
    color: inherit;
    color: #58585B;
    display: inline-block;
    transition: 500ms ease-in-out;
    padding: 0.5em 0 0.25em 0;
}

.links:hover {
    color: #00b4b4;
}

.primary-titles {
    color: #00b4b4;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 0 0 0;
    margin:0;
}

.location {
  color: #808284;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 2px;
}

.category-titles {
  color: #00b4b4;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.category-details {
    color: #808284;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin:0;
}

.category-description {
    color: #808284;
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin:0;
}

.skill-list {
	list-style: none;
    margin:0;
    padding:0;
}

p, .skill-list {
	font-family: 'Raleway', sans-serif;
}

.info-details{
    text-align: center;
    margin-bottom: 20px;
}

hr {
  border: 1px solid #A7A9AB;
  border-style: none none solid; 
  margin: 0 5% 0 0;
}

@media only screen and (min-width: 480px) {
    .primary-tites {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
        text-decoration: none;        
    }
}

@media only screen and (max-width: 500px) {
    .prof-expirience {
        margin-top: 10%;
    }
}

/*
* AV Styles
*/
.masonry {
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition:1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.item img{max-width:100%;}

@media only screen and (max-width: 480px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.mfp-img {
  cursor: pointer;
}

.mfp-force-scrollbars.mfp-wrap {
  overflow-y: auto !important;
  overflow-x: auto !important;
}
.mfp-force-scrollbars .mfp-img {
  max-width: none;
}
.mfp-force-scrollbars .mfp-close {
  position: fixed;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*
* RD Styles
*/
.container-d{
	max-width: 980px;
	margin: 0 auto;
	padding: 2em 0em 2em 0em;
}

section{
	background: #e6e6e6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0em 1em 2em;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        cursor: default;
}
section:hover:before {
  background: #00b4b4;
}
section:before {
  counter-increment: section;
  content: '';
  background: rgba(0, 180, 180, 0.5);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 1em;
}
section:nth-child(2n):before {
  background: rgba(0, 180, 90, 0.5);
}
section:nth-child(2n):hover:before {
  background: #00b45a !important;
}
section .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}
section .info h1 {
  font-weight: 400;
  color: #000;
  margin-bottom: 0.5em;
  font-size: 1.75em;
}
section .info .info-paragraph {
  font-weight: 300;
  color: #000;
  padding: 0em 0em 0.5em 0em;
  line-height: 1.25;
  font-size: 1em;
}
section .images {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 1em;
}
section .images figure {
  height: 200px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: all 333ms ease;
  transition: all 333ms ease;
}
section .images figure:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
section .images .large {
  width: 100%;
  margin-bottom: 0.75em;
}
section .images .small {
  display: inline-block;
  width: calc(100% / 3 - 0.56em);
  margin-right: 0.50em;
  height: 150px;
}
section .images .small:last-of-type {
  margin-right: 0 !important;
}

/*
* RR Styles
*/
.container-e {
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 0em 2em 0em;
}

.boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.boxes::after {
  clear: both;
  content: "";
  display: table;
}
.boxes .box {
  align-self: stretch;
  background: #eaeaea;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: block;
  flex: 2 2 20em;
  margin: 0em 0.5em 1em;
  padding: 2em 1em;
  text-decoration: none;
  cursor: default;
  transition: all 0.33s ease-in-out;
}
.boxes .box:nth-child(1) {
  border-top: 1.5em solid rgba(0, 180, 180, 0.5);
}
.boxes .box:nth-child(1):focus, .boxes .box:nth-child(1):hover {
  border-top: 1.5em solid #00b4b4;
}
.boxes .box:nth-child(2) {
  border-top: 1.5em solid rgba(180, 0, 0, 0.5);
}
.boxes .box:nth-child(2):focus, .boxes .box:nth-child(2):hover {
  border-top: 1.5em solid #b40000;
}
.boxes .box:nth-child(3) {
  border-top: 1.5em solid rgba(90, 0, 180, 0.5);
}
.boxes .box:nth-child(3):focus, .boxes .box:nth-child(3):hover {
  border-top: 1.5em solid #5a00b4;
}
.boxes .box:nth-child(4) {
  border-top: 1.5em solid rgba(0, 180, 90, 0.5);
}
.boxes .box:nth-child(4):focus, .boxes .box:nth-child(4):hover {
  border-top: 1.5em solid #00b45a;
}
.boxes .box:nth-child(5) {
  border-top: 1.5em solid rgba(180, 0, 180, 0.5);
}
.boxes .box:nth-child(5):focus, .boxes .box:nth-child(5):hover {
  border-top: 1.5em solid #b400b4;
}
.boxes .box:nth-child(6) {
  border-top: 1.5em solid rgba(0, 90, 180, 0.5);
}
.boxes .box:nth-child(6):focus, .boxes .box:nth-child(6):hover {
  border-top: 1.5em solid #005ab4;
}
.boxes .box .fa {
  display: block;
  height: 1em;
  margin: 0 auto 0.33em;
  color: black;
}
.boxes .box .title {
  font-weight: 400;
  color: #000;
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
.boxes .box .box-paragraph {
  font-weight: 300;
  color: #000;
  padding: 0em 0em 0.5em 0em;
  line-height: 1.25em;
  margin: auto;
  font-size: 1em;
  cursor: default;
}
.boxes .box-big {
  flex: 1 1 40em;
}

/*
* Loader
*/
#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff/*#d8c4ed*/;
  margin: 0;
  z-index:1000;
}

.loaded #loader {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in;
}

/*
* Components
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  width: 20%;
  float: left;
}

@media (max-width: 640px) {
  .col-xs-15 {
    width: 20%;
    float: left;
  }
  .page-header,p {
    font-size: 2.5vmin;
  } 
}

@media (min-width: 640px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

@media (max-width: 800px) {
  section {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.topbar {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 3em;
  line-height: 3em;
  position: fixed;
  top: 0;
  z-index: 1;
}
.topbar a {
  display: block;
  color: #808080;
}

.nav-links {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}
.active-nav {
  position: relative;
}
.active-nav__bar {
  background-color: #e6e6e6;
  top: 2.67em;
  position: absolute;
  width: 20%;
  height: 0.33em;
  transition: 0.3s ease-in-out;
}
.show-0 .active-nav__bar {
  transform: translate3d(0, 0, 0);
}
.show-1 .active-nav__bar {
  transform: translate3d(100%, 0, 0);
}
.show-2 .active-nav__bar {
  transform: translate3d(200%, 0, 0);
}
.show-3 .active-nav__bar {
  transform: translate3d(300%, 0, 0);
}
.show-4 .active-nav__bar {
  transform: translate3d(400%, 0, 0);
}

.carousel {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  margin: 3em auto 0;
  overflow: hidden;
}
.carousel > ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  list-style: none outside;
  margin: 0;
  overflow: hidden;
}
.carousel > ul.animate {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: 0.3s ease-in-out;
}
.carousel > ul > li {
  height: 100%;
  float: left;
  transform: translate3d(0, 0, 0);
}

.page {
  padding-bottom: 5em;
  overflow-x: hidden;
  overflow-y: auto;
}
.page.page-1 {
  left: -100%;
}
.page.page-2 {
  left: -50%;
}
.page.page-3 {
  left: 0%;
}
.page.page-4 {
  left: 50%;
}
.page.page-5 {
  left: 100%;
}

.page-header {
  padding: 3em 0em 3.5em 0em;
}
.page-header__title {
  font-size: 3.75em;
  font-weight: 200;
}

/*
* Utils
*/
.l-pad-content {
  padding-left: 1em;
  padding-right: 1em;
}