@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/**
* Generic 
*/

html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  background: #fff;
  color: #fff;
  font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

a {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff/*#d8c4ed*/;
  margin: 0;
  z-index:1000;
}

#loago {
  width: 160px;
  height: 160px;
  position: relative;
}

#loago div {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 30px;
  border-radius: 13%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  animation: 3s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
}
#loago div:nth-child(1) {
  background-color: #999;
  -webkit-animation-name: rotate-5;
          animation-name: rotate-5;
}
#loago div:nth-child(2) {
  background-color: #a6a6a6;
  -webkit-animation-name: rotate-4;
          animation-name: rotate-4;
}
#loago div:nth-child(3) {
  background-color: #b3b3b3;
  -webkit-animation-name: rotate-3;
          animation-name: rotate-3;
}
#loago div:nth-child(4) {
  background-color: #bfbfbf;
  -webkit-animation-name: rotate-2;
          animation-name: rotate-2;
}
#loago div:nth-child(5) {
  background-color: #ccc;
  -webkit-animation-name: rotate-1;
          animation-name: rotate-1;
}


@keyframes rotate-1 {
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes rotate-2 {
  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
@keyframes rotate-3 {
  to {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@keyframes rotate-4 {
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes rotate-5 {
  to {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
  }
}

.loaded #loader {
    opacity: 0;
    visibility: hidden;
    transition: all 1.25s ease-in;
}
.loaded #loago {
    opacity: 0;
    transition: all 1s ease-out;
}

/*
* Components
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  width: 20%;
  float: left;
}

@media (max-width: 640px) {
  .col-xs-15 {
    width: 20%;
    float: left;
  }
  .page-header,p {
    font-size: 2.5vmin;
  } 
}

@media (min-width: 640px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.topbar {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 3em;
  line-height: 3em;
  position: fixed;
  top: 0;
  z-index: 1;
}
.topbar a {
  display: block;
  color: #808080;
}

.active-nav {
  position: relative;
}
.active-nav__bar {
  background-color: #e6e6e6;
  top: 2.67em;
  position: absolute;
  width: 20%;
  height: 0.33em;
  transition: 0.3s ease-in-out;
}
.show-0 .active-nav__bar {
  transform: translate3d(0, 0, 0);
}
.show-1 .active-nav__bar {
  transform: translate3d(100%, 0, 0);
}
.show-2 .active-nav__bar {
  transform: translate3d(200%, 0, 0);
}
.show-3 .active-nav__bar {
  transform: translate3d(300%, 0, 0);
}
.show-4 .active-nav__bar {
  transform: translate3d(400%, 0, 0);
}

.carousel {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  margin: 3em auto 0;
  overflow: hidden;
}
.carousel > ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  list-style: none outside;
  margin: 0;
  overflow: hidden;
}
.carousel > ul.animate {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: 0.3s ease-in-out;
}
.carousel > ul > li {
  height: 100%;
  float: left;
  transform: translate3d(0, 0, 0);
}

.page {
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}
.page.page-1 {
  left: -100%;
}
.page.page-2 {
  left: -50%;
}
.page.page-3 {
  left: 0%;
}
.page.page-4 {
  left: 50%;
}
.page.page-5 {
  left: 100%;
}

.page-header {
  padding: 3em;
}
.page-header__title {
  font-size: 3.75em;
  font-weight: 200;
}

/*
* Utils
*/
.l-pad-content {
  padding-left: 1em;
  padding-right: 1em;
}
