@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/**
* Generic 
*/

html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  background: #fff;
  color: #fff;
  font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

a {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff/*#d8c4ed*/;
  margin: 0;
  z-index:1000;
}

.loaded #loader {
    opacity: 0;
    visibility: hidden;
    transition: all 1.25s ease-in;
}

/*
* Components
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  width: 20%;
  float: left;
}

@media (max-width: 640px) {
  .col-xs-15 {
    width: 20%;
    float: left;
  }
  .page-header,p {
    font-size: 2.5vmin;
  } 
}

@media (min-width: 640px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.topbar {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 3em;
  line-height: 3em;
  position: fixed;
  top: 0;
  z-index: 1;
}
.topbar a {
  display: block;
  color: #808080;
}

.active-nav {
  position: relative;
}
.active-nav__bar {
  background-color: #e6e6e6;
  top: 2.67em;
  position: absolute;
  width: 20%;
  height: 0.33em;
  transition: 0.3s ease-in-out;
}
.show-0 .active-nav__bar {
  transform: translate3d(0, 0, 0);
}
.show-1 .active-nav__bar {
  transform: translate3d(100%, 0, 0);
}
.show-2 .active-nav__bar {
  transform: translate3d(200%, 0, 0);
}
.show-3 .active-nav__bar {
  transform: translate3d(300%, 0, 0);
}
.show-4 .active-nav__bar {
  transform: translate3d(400%, 0, 0);
}

.carousel {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  margin: 3em auto 0;
  overflow: hidden;
}
.carousel > ul {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  list-style: none outside;
  margin: 0;
  overflow: hidden;
}
.carousel > ul.animate {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: 0.3s ease-in-out;
}
.carousel > ul > li {
  height: 100%;
  float: left;
  transform: translate3d(0, 0, 0);
}

.page {
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}
.page.page-1 {
  left: -100%;
}
.page.page-2 {
  left: -50%;
}
.page.page-3 {
  left: 0%;
}
.page.page-4 {
  left: 50%;
}
.page.page-5 {
  left: 100%;
}

.page-header {
  padding: 3em;
}
.page-header__title {
  font-size: 3.75em;
  font-weight: 200;
}

/*
* Utils
*/
.l-pad-content {
  padding-left: 1em;
  padding-right: 1em;
}

/*
* Project Modals
*/
.accordion dl {
    border: 1px solid #ddd;
}
.accordion dl:after {
    display: block;
    height: 1em;
    width: 100%;
    background-color: #b3b3b3;
}

.accordion dd {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4em 0 0 0;
}

.accordionTitle {
    background-color: #ccc;
    text-align: center;
    font-weight: 400;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #bfbfbf;
}

.accordionTitle:before {
	color: #fff;
    content: "\f13a";
	font-family: "FontAwesome";
    font-size: 1em;
    line-height: 1em;
    float: left;
}

.accordionTitle:hover {
    background-color: #b3b3b3;
	color: #fff;
}

.accordionTitle:focus {
	color: #fff;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #b3b3b3;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    content: "\f139";
	font-family: "FontAwesome";
    font-size: 1em;
    line-height: 1em;
	float: left;
}

.accordion-content {
	color:#000;
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        -webkit-transition: max-height 0.33s;
        transition: max-height 0.33s;
  }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
